## 简单操作
安装jupyter notebook相关插件
pip install jupyter_nbextensions_configurator jupyter_contrib_nbextensions -i https://pypi.tuna.tsinghua.edu.cn/simple/

In [38]:
import pandas as pd
df = pd.DataFrame({'A1': [1, 2, 2], 'A2': [4, 3, 6],
                   'A3': [7, 2, 5]}, index=['一', '二', '三'])
df

   A1  A2  A3
一   1   4   7
二   2   3   2
三   2   6   5

### stack和unstack的使用--常用的股票中

In [5]:
df1=df.stack()
df1

一  A1    1
   A2    4
   A3    7
二  A1    2
   A2    3
   A3    2
三  A1    2
   A2    6
   A3    5
dtype: int64

In [6]:
df1.unstack()

   A1  A2  A3
一   1   4   7
二   2   3   2
三   2   6   5

### stack和set_index结合使用

In [2]:
import tushare as ts
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df=pro.stock_basic(exchange='',list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
df.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [17]:
df2=df.set_index(['ts_code','name'])
df2.head()

                symbol area industry list_date
ts_code   name
000001.SZ 平安银行  000001   深圳       银行  19910403
000002.SZ 万科A   000002   深圳     全国地产  19910129
000004.SZ 国农科技  000004   深圳     生物制药  19910114
000005.SZ 世纪星源  000005   深圳     环境保护  19901210
000006.SZ 深振业A  000006   深圳     区域地产  19920427

In [20]:
df3=df2.stack()
df3.head(10)

ts_code    name
000001.SZ  平安银行  symbol         000001
                 area               深圳
                 industry           银行
                 list_date    19910403
000002.SZ  万科A   symbol         000002
                 area               深圳
                 industry         全国地产
                 list_date    19910129
000004.SZ  国农科技  symbol         000004
                 area               深圳
dtype: object

In [22]:
df4=df3.reset_index()
df4.head()

     ts_code  name    level_2         0
0  000001.SZ  平安银行     symbol    000001
1  000001.SZ  平安银行       area        深圳
2  000001.SZ  平安银行   industry        银行
3  000001.SZ  平安银行  list_date  19910403
4  000002.SZ   万科A     symbol    000002

### 长宽表转换

In [23]:
df.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

## 数据分组和透视

### 数据分组--groupby

In [3]:
pro=ts.pro_api('5f2dc9d17ebed3601a4fbea74148a25067d067138bf88515693e9b7d')
df=pro.stock_basic(exchange='',list_status='L', fields='ts_code,symbol,name,area,industry,market,list_date')
df['list_date']=df['list_date'].astype('datetime64')
df.head(10)

     ts_code  symbol   name area industry market  list_date
0  000001.SZ  000001   平安银行   深圳       银行     主板 1991-04-03
1  000002.SZ  000002    万科A   深圳     全国地产     主板 1991-01-29
2  000004.SZ  000004   国农科技   深圳     生物制药     主板 1991-01-14
3  000005.SZ  000005   世纪星源   深圳     环境保护     主板 1990-12-10
4  000006.SZ  000006   深振业A   深圳     区域地产     主板 1992-04-27
5  000007.SZ  000007    全新好   深圳     酒店餐饮     主板 1992-04-13
6  000008.SZ  000008   神州高铁   北京     运输设备     主板 1992-05-07
7  000009.SZ  000009   中国宝安   深圳      综合类     主板 1991-06-25
8  000010.SZ  000010  *ST美丽   深圳     建筑工程     主板 1995-10-27
9  000011.SZ  000011   深物业A   深圳     区域地产     主板 1992-03-30

In [20]:
df.info()   #有部分缺失值，但是不影响，因为groupby会自动忽略缺失值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 7 columns):
ts_code      3750 non-null object
symbol       3750 non-null object
name         3750 non-null object
area         3748 non-null object
industry     3748 non-null object
market       3750 non-null object
list_date    3750 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 205.2+ KB

#### 生成一个groupby对象

In [4]:
#按market板块进行分组,,生成一个groupby对象df1，，对其可进行相关描述
df1=df.groupby('market')
df1

In [29]:
#通过定义函数的方式，进行排序

def func(x):  
    return x.sort_values(by='list_date',ascending=False)


df1.apply(func)

               ts_code  symbol  name area industry market  list_date
market
中小板    1398  002972.SZ  002972  N科安达   深圳     运输设备    中小板 2019-12-27
       1397  002970.SZ  002970  锐明技术   深圳     通信设备    中小板 2019-12-17
       1395  002968.SZ  002968   新大正   重庆     房产服务    中小板 2019-12-03
       1396  002969.SZ  002969  嘉美包装   安徽     广告包装    中小板 2019-12-02
       1394  002967.SZ  002967  广电计量   广东      综合类    中小板 2019-11-08
       1391  002963.SZ  002963   豪尔赛   北京     装修装饰    中小板 2019-10-28
       1392  002965.SZ  002965  祥鑫科技   广东     汽车配件    中小板 2019-10-25
       1390  002962.SZ  002962  五方光电   湖北      元器件    中小板 2019-09-17
       1389  002961.SZ  002961  瑞达期货   福建     多元金融    中小板 2019-09-05
       1399  003816.SZ  003816  中国广核   深圳     新型电力    中小板 2019-08-26
       1387  002959.SZ  002959  小熊电器   广东     家用电器    中小板 2019-08-23
       1388  002960.SZ  002960  青鸟消防   河北     专用机械    中小板 2019-08-09
       1393  002966.SZ  002966  苏州银行   江苏       银行    中小板 2019-08-02
       1385  002957.SZ  002957  科瑞技术   深圳     专用机械    中小板 2019-07-26
       1384  002956.SZ  002956  西麦食品   广西       食品    中小板 2019-06-19
       1383  002955.SZ  002955  鸿合科技   北京     IT设备    中小板 2019-05-23
       1382  002953.SZ  002953  日丰股份   广东     电气设备    中小板 2019-05-09
       1381  002952.SZ  002952  亚世光电   辽宁      元器件    中小板 2019-03-28
       1386  002958.SZ  002958  青农商行   山东       银行    中小板 2019-03-26
       1380  002951.SZ  002951  金时科技   四川     广告包装    中小板 2019-03-15
       1379  002950.SZ  002950  奥美医疗   湖北     医疗保健    中小板 2019-03-11
       1378  002949.SZ  002949  华阳国际   深圳     建筑工程    中小板 2019-02-26
       1376  002947.SZ  002947   恒铭达   江苏      元器件    中小板 2019-02-01
       1375  002946.SZ  002946   新乳业   四川      乳制品    中小板 2019-01-25
       1374  002945.SZ  002945  华林证券   西藏       证券    中小板 2019-01-17
       1377  002948.SZ  002948  青岛银行   山东       银行    中小板 2019-01-16
       1372  002942.SZ  002942  新农股份   浙江     农药化肥    中小板 2018-12-05
       1373  002943.SZ  002943  宇晶股份   湖南     机床制造    中小板 2018-11-29
       1371  002941.SZ  002941  新疆交建   新疆     建筑工程    中小板 2018-11-28
       1369  002939.SZ  002939  长城证券   深圳       证券    中小板 2018-10-26
...                ...     ...   ...  ...      ...    ...        ...
科创板    3718  688116.SH  688116  天奈科技   江苏     化工原料    科创板 2019-09-25
       3726  688168.SH  688168   安博通   北京     软件服务    科创板 2019-09-06
       3739  688321.SH  688321  微芯生物   深圳     化学制药    科创板 2019-08-12
       3714  688099.SH  688099  晶晨股份   上海      半导体    科创板 2019-08-08
       3727  688188.SH  688188  柏楚电子   上海     软件服务    科创板 2019-08-08
       3683  688005.SH  688005  容百科技   浙江     电气设备    科创板 2019-07-22
       3684  688006.SH  688006  杭可科技   浙江     电气设备    科创板 2019-07-22
       3740  688333.SH  688333   铂力特   陕西     机械基件    科创板 2019-07-22
       3681  688002.SH  688002  睿创微纳   山东     通信设备    科创板 2019-07-22
       3682  688003.SH  688003  天准科技   江苏     专用机械    科创板 2019-07-22
       3697  688022.SH  688022  瀚川智能   江苏     专用机械    科创板 2019-07-22
       3703  688033.SH  688033  天宜上佳   北京     运输设备    科创板 2019-07-22
       3747  688388.SH  688388  嘉元科技   广东      元器件    科创板 2019-07-22
       3701  688029.SH  688029  南微医学   江苏     医疗保健    科创板 2019-07-22
       3685  688007.SH  688007  光峰科技   深圳      元器件    科创板 2019-07-22
       3687  688009.SH  688009  中国通号   北京     运输设备    科创板 2019-07-22
       3708  688066.SH  688066  航天宏图   北京     软件服务    科创板 2019-07-22
       3686  688008.SH  688008  澜起科技   上海      半导体    科创板 2019-07-22
       3694  688019.SH  688019  安集科技   上海      半导体    科创板 2019-07-22
       3688  688010.SH  688010  福光股份   福建     电器仪表    科创板 2019-07-22
       3711  688088.SH  688088  虹软科技   浙江     软件服务    科创板 2019-07-22
       3689  688011.SH  688011  新光光电  黑龙江      元器件    科创板 2019-07-22
       3690  688012.SH  688012  中微公司   上海     专用机械    科创板 2019-07-22
       3695  688020.SH  688020  方邦股份   广东      元器件    科创板 2019-07-22
       3700  688028.SH  688028   沃尔德   北京     专用机械    科创板 2019-07-22
       3691  688015.SH  688015  交控科技   北京     运输设备    科创板 2019-07-22
       3692  688016.SH  688016  心脉医疗   上海     医疗保健    科创板 2019-07-22
       3720  688122.SH  688122  西部超导   陕西      小金属    科创板 2019-07-22
       3693  688018.SH  688018  乐鑫科技   上海      半导体    科创板 2019-07-22
       3680  688001.SH  688001  华兴源创   江苏     专用机械    科创板 2019-07-22

[3750 rows x 7 columns]

#### 进行数量统计描述或求和
求和等运算类的描述，要求依据对象必须为数值型的
像‘industry’等类型的可进行数量统计

#### aggregate函数的使用

In [51]:
#层次描述，先分组，再对分组后的pe_2017进行count和sum描述
df1=df.groupby(['market','industry'])
df1.aggregate(['count','sum'])['pe_2017'].head()

                 count  sum
market industry
中小板    IT设备         13  130
       专用机械         28  280
       中成药          22  220
       乳制品           7   70
       互联网          27  270

In [31]:
#查看所有行业中，不同板块的数量，所有行业中，中小板块的有941个公司
df1.count()['industry']

market
中小板     941
主板     1949
创业板     788
科创板      70
Name: industry, dtype: int64

### 数据透视---pivot-table
令参数fill_value=0  可以将Nan填充为0，再进行运算
values可以传入多个参数，进行相关的运算

In [44]:
df.insert(1,'pe_2015',6)

In [45]:
df.insert(1,'pe_2016',8)

In [46]:
df.insert(1,'pe_2017',10)

In [47]:
df.head()

,ts_code,pe_2017,pe_2016,pe_2015,symbol,name,area,industry,market,list_date
0,000001.SZ,10,8,6,000001,平安银行,深圳,银行,主板,1991-04-03
1,000002.SZ,10,8,6,000002,万科A,深圳,全国地产,主板,1991-01-29
2,000004.SZ,10,8,6,000004,国农科技,深圳,生物制药,主板,1991-01-14
3,000005.SZ,10,8,6,000005,世纪星源,深圳,环境保护,主板,1990-12-10
4,000006.SZ,10,8,6,000006,深振业A,深圳,区域地产,主板,1992-04-27

#### aggfunc、fill_value、margins参数

In [ ]:
df.pivot_table(values='pe_2017',index='industry',columns='market',aggfunc='sum').head()

In [61]:
df.pivot_table(values='pe_2017',index='industry',columns='market',aggfunc='sum',fill_value=0).head()

market    中小板   主板  创业板  科创板
industry
IT设备      130  110  120    0
专用机械      280  500  520   70
中成药       220  390   80    0
乳制品        70   50    0    0
互联网       270  190  240    0

In [64]:
df.pivot_table(values=['pe_2017','pe_2016'],index='industry',columns='market',aggfunc='sum',fill_value=0,margins=True)

         pe_2016                          pe_2017
market       中小板     主板   创业板  科创板    All     中小板     主板   创业板  科创板    All
industry
IT设备         104     88    96    0    288     130    110   120    0    360
专用机械         224    400   416   56   1096     280    500   520   70   1370
中成药          176    312    64    0    552     220    390    80    0    690
乳制品           56     40     0    0     96      70     50     0    0    120
互联网          216    152   192    0    560     270    190   240    0    700
仓储物流         104    176    24    0    304     130    220    30    0    380
供气供热          40    184     8    0    232      50    230    10    0    290
保险             0     56     0    0     56       0     70     0    0     70
元器件          496    392   520   48   1456     620    490   650   60   1820
全国地产          16    272     0    0    288      20    340     0    0    360
公共交通           8     56     0    0     64      10     70     0    0     80
公路            16     40     0    0     56      20     50     0    0     70
其他商业          32     48    16    0     96      40     60    20    0    120
其他建材         120     72    32    0    224     150     90    40    0    280
农业综合          64     96    48    0    208      80    120    60    0    260
农用机械          24     40     8    0     72      30     50    10    0     90
农药化肥         120    208    16    0    344     150    260    20    0    430
出版业            8    144    32    0    184      10    180    40    0    230
化学制药         240    384   184   16    824     300    480   230   20   1030
化工原料         416    544   312   32   1304     520    680   390   40   1630
化工机械          48     24     8    0     80      60     30    10    0    100
化纤            56    128    16    0    200      70    160    20    0    250
区域地产          56    456     0    0    512      70    570     0    0    640
医疗保健         104    176   296   88    664     130    220   370  110    830
医药商业          40    160     0    0    200      50    200     0    0    250
半导体           72    104   224   56    456      90    130   280   70    570
商品城            8     16     0    0     24      10     20     0    0     30
商贸代理           8    160     0    0    168      10    200     0    0    210
啤酒             8     48     0    0     56      10     60     0    0     70
园区开发           0    128     0    0    128       0    160     0    0    160
...          ...    ...   ...  ...    ...     ...    ...   ...  ...    ...
种植业           16     72    24    0    112      20     90    30    0    140
空运             8     56     0    0     64      10     70     0    0     80
红黄酒            8     72     0    0     80      10     90     0    0    100
纺织           104    192    16    0    312     130    240    20    0    390
纺织机械          24     40    16    0     80      30     50    20    0    100
综合类           16    240    24    0    280      20    300    30    0    350
航空            32    112    48    0    192      40    140    60    0    240
船舶             0     40    24    0     64       0     50    30    0     80
装修装饰         128     56    24    0    208     160     70    30    0    260
证券            64    272     8    0    344      80    340    10    0    430
超市连锁          32     56     0    0     88      40     70     0    0    110
路桥             0    152     0    0    152       0    190     0    0    190
软件服务         280    352   832  104   1568     350    440  1040  130   1960
软饮料            0     48     0    0     48       0     60     0    0     60
轻工机械          32     16    32    0     80      40     20    40    0    100
运输设备          32    104    24   24    184      40    130    30   30    230
通信设备         248    336   344   16    944     310    420   430   20   1180
造纸            56    144     0    0    200      70    180     0    0    250
酒店餐饮          16     56     0    0     72      20     70     0    0     90
钢加工           56    120     8    0    184      70    150    10    0    230
铁路             0     32     0    0     32       0     40     0    0     40
铅锌             8     96     0    0    104      10    120     0    0    130
铜             24     72     8    0    104      30     90    10    0    130
铝             64    104    32    0    200      80    130    40    0    250
银行            56    232     0    0    288      70    290     0    0    360
陶瓷             0     24    24    0     48       0     30    30    0     60
食品           176    264    48    8    496     220    330    60   10    620
饲料            64     64     8    0    136      80     80    10    0    170
黄金            16     88     0    0    104      20    110     0    0    130
All         7528  15592  6304  560  29984    9410  19490  7880  700  37480

[111 rows x 10 columns]

### 拼接和拆分

#### 与numpy中的比较相似:hstack,vstack,hsplit,vsplit

In [67]:
import numpy as np
t=np.arange(12).reshape(3,4)
t

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [68]:
np.hsplit(t,2)

[array([[0, 1],
        [4, 5],
        [8, 9]]), array([[ 2,  3],
        [ 6,  7],
        [10, 11]])]

In [69]:
x1=np.hsplit(t,2)[0]
x2=np.hsplit(t,2)[1]
x1
x2

array([[0, 1],
       [4, 5],
       [8, 9]])

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

In [72]:
np.vstack((x1,x2))

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [ 2,  3],
       [ 6,  7],
       [10, 11]])

In [73]:
np.hstack((x1,x2))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

#### pandas中的横向合并---merge

In [74]:
y1=pd.DataFrame(x1,columns=['code','age'])
y1

   code  age
0     0    1
1     4    5
2     8    9

In [80]:
y2=pd.DataFrame(x2,columns=['kk','score'])
y2.insert(1,'code',[0,4,8])
y2

   kk  code  score
0   2     0      3
1   6     4      7
2  10     8     11

In [81]:
pd.merge(y1,y2)

   code  age  kk  score
0     0    1   2      3
1     4    5   6      7
2     8    9  10     11

In [82]:
y1.merge(y2)

   code  age  kk  score
0     0    1   2      3
1     4    5   6      7
2     8    9  10     11

In [84]:
y3=y2[:2]
y3

   kk  code  score
0   2     0      3
1   6     4      7

In [86]:
y3.merge(y1)

   kk  code  score  age
0   2     0      3    1
1   6     4      7    5

In [87]:
y1.merge(y3)

   code  age  kk  score
0     0    1   2      3
1     4    5   6      7